<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index, follow">
    <title>MAP</title>


    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}">
    <link rel="icon" href="{{ asset('assets/icon/favicon512.png') }}"/>

</head>


{#---------------------------------- BOBY START ----------------------------------#}
<body>

<header class="headerAdmin_base">

    <section>
        <div class="header_admin">

            <div class="header_admin_logo">
                <a href="{{ path ('home') }}">
                    <img src="{{ asset('assets/icon/logoS4P_white.png') }}" alt="logo">
                </a>
            </div>

        </div>
    </section>

</header>

<main id="map_main">

    <div class="map_btn_add">

        <a href="{{ path('add') }}">Ajout d'un acteur</a>
    </div>
    <div class="map_title">
        <h1>Annuaire</h1>
    </div>
    <div class="container">
        <span id="url_ajax" data-path="{{ path('ajax') }}"></span>
        <div class="list">
            <div class="item js-marker" {#{{ data.longitude }} {{ data.latitude }}#}>
                <form action="{{ path('home') }}" method="POST">
                    <input type="text" name="city">
                    <label for="">Ville</label>
                    <button type="submit" name="city-submit">valider</button>
                </form>

                {% if center is empty %}
                <div id="mapCenter" data-latitude='' data-longitude=''> </div>
                {% else %}
                    <div id="mapCenter" data-latitude='{{ center[0] }}' data-longitude='{{ center[1] }}'></div>
                {% endif %}


                <table>
                    {% set count = 0 %}
                    {% for category in result %}
                        <br>
                        <div style="color:#15A595;">
                            <label for="map_checkbox">{{ category.name }}</label>
                            <input type="checkbox" class="map_checkbox" name="map_checkbox" checked>
                        </div>
                            {% for subCategory in category.subCategory %}
                                <div style="color:#ED721D;">
                                    <label for="map_checkbox">{{ subCategory.name}}</label>
                                    <input type="checkbox" class="map_checkbox" name="map_checkbox" checked>
                                </div>
                                    {% for actor in subCategory.actor  %}
                                        <div class='position{{ count }}' data-latitude='{{ actor.latitude }}' data-longitude='{{ actor.longitude }}'
                                            data-name='{{ actor.name }}' data-description='{{ actor.description }}'>

                                            {#{{ dump(actor) }}#}
                                            {{actor.name}}
                                        </div>
                                        {% set count = count+1 %}
                                    {% endfor %}
                            {% endfor %}
                    {% endfor %}

                    <div id="count" data-count='{{ count }}' ></div>
                   {# {{dump(result[0])}}#}
                </table>

            </div>

        </div>

        <div class="map" id="map">

        </div>
    </div>

</main>

<footer>
    <section>
        <div class="footer_admin">

            <div class="footer_admin_text">
                <p> Design by Meliway • 2020 </p>
            </div>

        </div>
    </section>

</footer>

{#----------------------------------- SCRIPTS -----------------------------------#}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{#<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>#}
{#<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>#}
{#<script src="https://libs.cartocdn.com/carto.js/v4.2.0/carto.min.js"></script>#}

<script src={{ asset('assets/js/vendor.js') }}></script>
<script src={{ asset('assets/js/menu.js') }}></script>

</body>
{#----------------------------------- BOBY END -----------------------------------#}
</html>




